.section1 {

    display: grid;

    margin-right: 55%;


}

section1 threecards div img {

    display: flex;
}

.second-Section {

    box-shadow: 20px 30px 60px rgba(235, 128, 70, 0.2);
    display: grid;
    border-radius: 15px;

    margin-top: 5%;
    margin-left: 15%;

    width: 1400px;
    height: 790px;

}

.image-cards {
    display: grid;
    

}
.image-cards img{
    
    border-radius: 20px;
    transition: 0.1s;
}

.image-cards img:hover{
    border: 4px solid orange ;
    box-shadow: 0 2px 18px orange;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 60px;

}