#navbar{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;

}

 li a{

    text-decoration: none;

}

#logo{

    padding: 12px;
  margin-left: 30px;
}

.list{

    justify-content:space-evenly;
    display: flex;
    list-style-type: none;
    padding-top: 21px;

    
}