#navbar{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;

}

 li a{

    text-decoration: none;

}

.plane{
    justify-content: space-evenly;
}

#logo{

  padding: 12px;
  margin-left: 30px;
}

.list{

    justify-content:space-evenly;
    display: flex;
    list-style-type: none;
    padding-top: 21px;
    font-weight: 900px;
    color:black ;
    font-size: 21px;
    font-weight: bolde;
    

    
}

.end-text{

    text-align: center;
    letter-spacing: 2px;
    color:black;
}

section{

   display: flex;
   justify-content: space-evenly;

    

}
.social{

    display: flex;
}
.section{
    align-content: center;
  

}
.list {
    display: flex;
}
#footerLogo{


    display: block;
}
.lists{

    list-style-type: none;
}
footer{

    margin-top: 100px;
}
